@import "vars"
@import "fonts"

//----global style------
.button a
	border: 1px solid #1e1f20
	padding: 18.5px 34px
	display: inline-block
	font-size: 14px
	color: #1e1f20
	background :#fff
	text-transform: uppercase
	text-align: center
.button
	a:hover
		color: #fff
		background: #1e1f20
		border-color: #1e1f20
.button--black
	a
		color: #fff
		background: #1e1f20
		border-color: #1e1f20
.button--black:hover a
	background: rgba($black, 0.9)
h4 
	font-size: 16px
h5 
	font-size: 12px
label 
	display: block 
	font-size: 13px 
	margin-bottom: 5px
.form-prompt
	font-size: 12px
input,
select
	display: block 
	width: 100%
	height: 40px  
	padding: 8px
	border: 1px solid rgba($black, 0.5)
select:focus
input:focus
	box-shadow: 0 0 4px $black
	outline: none
input::placeholder 
	color: rgba($black, 0.5)

.checkbox-wrapper
	display: flex
	label 
		margin-bottom: 0
		font-size: 14px
		cursor: pointer
input[type="checkbox"]
	display: none
.form-col
	width: 50%
.checkbox-input + label
	height: 20px
	width: 20px
	background: #fff
	cursor: pointer
	border: 1px solid rgba($black, 0.5)
	margin-right: 10px
.checkbox-input:checked + label
	background: url('../images/close.svg')	
	background-size: 90%
	background-position: center
	border: none
	background-repeat: no-repeat
	border: 1px solid rgba($black, 1)
.form__row
	margin-bottom: 16px
.checkbox-wrapper
	margin-bottom: 15px
.form-text
	margin-bottom: 20px
.form-col 
	.checkbox-wrapper
		margin-bottom: 15px
.form-text
	a 
		text-decoration: underline
.prompt
	font-size: 12px
.checkbox-wrapper-password
	margin-bottom: 0
input:focus::placeholder 
	color: transparent
//----global style------

// ---start menu style---
.menu-bar
	.menu__container 
		display: flex
		justify-content: center
// ---end menu style---

//----start page style----
.page-header
	img 
		width: 100%
//----end page style------

//-----start wishlist style----
.wishlist-header
	float: none
	p 
		max-width: 600px
		margin: 0 auto
		margin-bottom: 0px
	.button 
		margin-top: 20px
.wishlist__items
	padding-top: 10px
	padding-bottom: 7vw
.wishlist__item
	padding-top: 10px 
	padding-bottom: 10px 
	border-top: 1px solid #1e1f20
	display: flex 
	justify-content: space-between
	position: relative
	cursor: pointer
.wishlist__item:last-child 
	border-bottom: 1px solid #1e1f20
.wishlist__item-img
	width: 200px
	height: 200px
	overflow: hidden
	display: flex 
	align-items: center
	img 
		min-width: 100%
		min-height: 100%
.wishlist__item-left
	display: flex
.wishlist__product-description,
.wishlist__product-details-footer
	font-size: 12px
.wishlist__product-details-footer
	display: flex 
	justify-content: space-between
.wishlist__product-details
	flex-direction: column
	display: flex
	justify-content: space-between
	padding: 20px 25px
	max-width: 400px
	h4 
		text-decoration: underline
.wishlist__item-right
	width: 300px
	padding: 20px 0px
	min-height: 100%
	display: flex
	flex-direction: column 
	justify-content: space-between
	.button 
		min-width: 100%
.wishlist__remove
	position: absolute
	right: 0 
	top: 3px
	font-size: 16px
	text-decoration: underline
.price-wrapper span,
.price-mobil-title
	display: none
.price
	letter-spacing: .19em
//-----end wishlist style------

//-----start section header style---
.section__header
	text-align: center 
	padding-bottom: 40px
	h2 
		margin-top: 20px
//-----end section header style---

//------start login section----
.login
	padding-bottom: 80px
.login__tab-item
	display: none 
.login__tab-item:first-child 
	display: block
.login__tabs
	display: flex 
	justify-content: center
	border-bottom: 1px solid $black
	margin-bottom: 30px
.login__content
	width: 550px 
	max-width: 100%
	margin: 0 auto
.login__tab
	width: 50% 
	display: flex 
	justify-content: center 
	align-items: center
	cursor: pointer
	padding: 5px 
	text-transform: uppercase
	color: #888888
.login__tab.active 
	color: $black 
	border-bottom: 2px solid $black
.fogot-password
	font-size: 14px 
	text-decoration: underline
	cursor: pointer
.form__row--footer
	display: flex 
	justify-content: space-between
.fogot-password:hover 
	text-decoration: none
.form__row--btn-wrapper
	margin-top: 20px
	.button 
		width: 100% 
		a 
			width: 100%
.login--succes
	h2 
		margin-top: 80px
//------end login section------
.cd-dropdown
	display: none
//------start modal style-----
.popup
	background-color: rgba(31,31,31,.75)
	position: fixed 
	width: 100% 
	height: 100%
	top: 0 
	left: 0
	z-index: 9999
	display: flex 
	justify-content: center 
	align-items: center
	display: none
.popup.active 
	display: flex
.popup-content
	background: #fff
	padding: 50px 50px
	width: 700px
	max-width: 95%
	position: relative
	h5
		text-align: center
		margin-bottom: 20px

	.close
		position: absolute 
		top: 10px 
		right: 15px
		cursor: pointer
		img 
			width: 20px 
			height: 20px
	form 
		max-width: 550px
		margin: 0 auto
	.form-footer
		display: flex 
		justify-content: center
		padding-top: 30px
		.button 
			min-width: 150px
			a 
				width: 100%

//------end modal style-----

//------start news letter style----
.margin 
	font-size: 1
	color: #fff
	font-size: 0.1
	margin-bottom: 20px
.newsletter
	padding-top: 30px
	.form__row 
		display: flex
		justify-content: space-between
		.form-col 
			text-align: left
			width: 48%
	.radio-choice
		display: flex
		.radio 
			margin-right: 16px

	



.newsletter-content
	max-width: 830px
	margin: 0 auto 
	box-shadow: 0 0 5px rgba(0, 0, 0, .5)	
	padding: 20px 30px
	margin-bottom: 50px
	h4 
		margin: 0 auto
		padding-bottom: 20px 
		border-bottom: 1px solid $black
		margin-bottom: 20px
		text-align: center
	.button
		max-width: 300px
		margin: 0 auto





//------end newsletter style------
@import "media"



